
header#detailedRoute{
    background-color: rgb(150, 206, 219);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }


.Stops {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:rgb(150, 206, 219);
}
.Stop {
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    background-color:#8B008B;
}

.Arrow {
    max-width:5%;
    height: auto;
}

header#detailedRoute{
    background-color: rgb(150, 206, 219);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }