



/*
body:before{

  content: '';
  position: fixed;
  width: 100vw;
  height:100vh;
  background-image:url(./backgroundImage.jpg);
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size:cover;
  -webkit-filter: blur (10px);
  -moz-filter: blur(10px);



}

*/

/*body{
  margin:0;
  padding:0;
  background-image:url(https://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=13&size=1200x800&maptype=roadmap&key=AIzaSyDx0uVQTk3Ukph1ph9ppl97vC3M7rVKJ6U);
  -webkit-background-size: cover;
  background-size: cover;
}*/

.home{
  
  background-color: #4CAF50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image:url(https://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=13&size=1200x800&maptype=roadmap&key=AIzaSyDx0uVQTk3Ukph1ph9ppl97vC3M7rVKJ6U);
}


.homeForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  background: 0rgba(0,0,0,.5);
  padding: 40px;
}


input.originI[type=text]  , input[type=password] {
  width: 94%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input.destinationI[type=text]  , input[type=password] {
  width: 94%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/*.Search-form{
  border-radius: 25px;
  background-color: #8B008B;
  border: 2px solid #c9c9c9 ;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  width:400px;
  height:150px;
  padding:80px 40px;
  
}*/














/*.home {
    text-align: center;
  }
  
  .App-header {
    background-color: #8B008B;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Search-form {
    display: flex;
    flex-direction: column;
  }
  #From-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
  }

  #From-text {
    padding-right: 2rem
  }
  #To-bar {
    display: flex;
    flex-direction: row;
  }
  #To-text {
    padding-right:4rem
  }
  
  #Burger {
      position: relative;
      right: 30rem;
  }
  .bm-burger-button {
    position: fixed;
    width: 44px;
    height: 44px;
    left: 36px;
    top: 50px;
  }

  .bm-burger-bars {
    background: #373a47;
  }*/