.home {
    text-align: center;
  }
  
  .App-header {
    background-color: #8B008B;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Search-form {
    display: flex;
    flex-direction: column;
  }
  #From-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
  }

  #From-text {
    padding-right: 2rem
  }
  #To-bar {
    display: flex;
    flex-direction: row;
  }
  #To-text {
    padding-right:4rem
  }
  
  #Burger {
      position: relative;
      right: 30rem;
  }
  .bm-burger-button {
    position: fixed;
    width: 44px;
    height: 44px;
    left: 36px;
    top: 50px;
  }

  .bm-burger-bars {
    background: #373a47;
  }