


input#firstName{
    margin-left: 75px;
}

input#lastName{
    margin-left: 75px;
}

input#username{
    margin-left: 80px;
}

input#signUpEmail{
    margin-left: 124px;
}

input#signUpPassword{
    margin-left: 84px;
}

input#confirmPassword{
    margin-left: 1px
}
