header#signup {
  background-color: 	#8B008B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


input#firstName{
    margin-left: 74px;
}

input#lastName{
    margin-left: 75px;
}

input#username{
    margin-left: 80px;
}

input#signUpEmail{
    margin-left: 124px;
}

input#signUpPassword{
    margin-left: 86px;
}

input#confirmPassword{
    margin-left: 4px
}
